[submodule "Odd/vendor/Box2D"]
	path = Odd/vendor/Box2D
	url = https://github.com/oddStoneGames/box2d.git
[submodule "Odd/vendor/OpenAL"]
	path = Odd/vendor/OpenAL
	url = https://github.com/oddStoneGames/openal-soft.git
[submodule "Odd/vendor/libsndfile"]
	path = Odd/vendor/libsndfile
	url = https://github.com/oddStoneGames/libsndfile.git
